C:/Users/divya/Downloads/etl-pipeline-using-airflow/data/transactions_train.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/divya/Downloads/etl-pipeline-using-airflow/data/customers.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/divya/Downloads/etl-pipeline-using-airflow/data/customers.csv filter=lfs diff=lfs merge=lfs -text
